@model IEnumerable<WebBanDienThoai.Models.Order>

<h1 style="text-align:center; color:red">Lịch Sử Đặt Hàng</h1>
<br />
@if (Model.Count() == 0)
{ <h2>Không có lịch sử mua hàng</h2>}
else
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TotalMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment.PaymentName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @{ if (item.Status == 1)
                {
                <p class="btn btn-warning btn-xs text-center">Chờ xử lý</p> }
                else if (item.Status == 2)
                {
                <p class="btn btn-danger btn-xs text-center">Đã hủy</p> }
                else if (item.Status == 3)
                {
                <p class="btn btn-default btn-xs text-center">Đã xác nhận</p> }
                }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment.PaymentName)
        </td>
        <td>

            <button style="background-color:cyan"> @Html.ActionLink("Chi Tiết", "Details", new { id = item.orderID }) </button> |
            <button style="background-color:red"> @Html.ActionLink("Hủy Đơn", "huyDonhang", new { id = item.orderID }) </button>

        </td>
    </tr>
                }

</table>
                }